<?xml version="1.0" encoding="utf-8"?>
<!-- Version 2 for goal progress complications (steps). Watch Face Push needs Wear OS 6, which
     supports up to version 4. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="2"
            tools:replace="android:value" />
    </application>
</manifest>
